EXTERNAL_DATA_ROOT=/Volumes/Toshiba HDR/TB_DATA/raw
MONTGOMERY_ROOT=/Volumes/Toshiba HDR/TB_DATA/raw/montgomery
SHENZHEN_ROOT=/Volumes/Toshiba HDR/TB_DATA/raw/shenzhen
TBX11K_ROOT=/Volumes/Toshiba HDR/TB_DATA/raw/tbx11k
NIH_CXR14_ROOT=/Volumes/Toshiba HDR/TB_DATA/raw/nih_cxr14
MEDSAM_VIT_B_CKPT=checkpoints/medsam/medsam_vit_b.pth
