EXTERNAL_DATA_ROOT=E:/tb_cxr_datasets
MONTGOMERY_ROOT=E:/tb_cxr_datasets/Montgomery
SHENZHEN_ROOT=E:/tb_cxr_datasets/Shenzhen
TBX11K_ROOT=E:/tb_cxr_datasets/TBX11K
NIH_CXR14_ROOT=E:/tb_cxr_datasets/NIH_ChestXray14
